body{
    background-image: none;
    /* background-color: rgb(56 57 59); */
    
    
    
}
.brand-box{
    padding: 2% 10%;
}

.brand-heading h1{
    font-size: 3rem;
    font-weight: 400;
}

.brand-box img{
    width: 8rem;
    justify-content: space-between;
    margin: 10px 60px;

}