body{
    background-image: none;
    /* background-color: rgb(56 57 59); */
    
    
    
}
.brand-box{
    padding: 0% 10%;
    margin-top: 4%;

}

.brand-heading h1{
    font-size: 3rem;
    font-weight: 400;
}

.brand-box img{
    width: 8rem;
    justify-content: space-between;
    margin: 10px 60px;

}
.Needs{
    padding: 3% 10%;
}
.Need-Heading h4{
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
}
.Need-Heading h4 span{
     color: tomato;
     
}

.Need-Heading h1{
    font-weight: 300;
    margin-bottom: 34px;
    font-size: 2.2rem;
}

.Needs-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    flex-wrap: wrap;

}
.Needs-boxes .Need-1{
    width: 240px;
    margin-bottom: 15px;
}
.Needs-boxes .Need-img img{
    height: 299px;
    width: 226px;
    border-radius: 5px;

}

.Need-btn{


}
.Need-btn .btn2{
    background-color: #218ba3e3;
    color: white;
    width: 94%;
    border-radius: 6px;
    border: none;
    height: 48px;

}
.Need-btn .btn2:hover{
    background-color: var(--primary);
    color: #218ba3e3;
    transition: ease-in-out; 
    transition-duration: 0.4s;
    border: 1px solid #218ba3e3;
}

