@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@media(max-width:900px) {
    header #main-nav {
        display: none;
    }

    header #main-nav .times {
        display: none;
    }

}

@media(min-width:900px) {
    .hamberger {
        display: none;

    }

}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;

}

body {
    background-image: none;
    /* background-color: rgb(56 57 59); */
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);


}

header {
    /* background-color: rgb(85 85 85); */

}

.container-form {
    /* width: 100%;
    height: 100vh; */
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;


}

form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw;
    width: 90%;
    max-width: 425px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px #cbc6c6;

}

form h2 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}

form input,
form textarea {
    border: 1px solid white;
    border-radius: 12px;
    margin: 3px 0;
    padding: 11px;
    outline: none;
    background: rgb(255 255 255);
    font-size: 15px;
    box-shadow: 0px 0px 12px 0px #cbc6c6;

}

form button {
    padding: 10px;
    background: rgb(216, 81, 81);
    color: rgb(255, 255, 255);
    font-size: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.container-form .Thankyou img {
    width: 500px;
    height: 300px;
}

.Thankyou {
    margin-left: 9px;
    margin-top: 40px;

}

.Thankyou h1 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}

.Thankyou-img {
    position: relative;
}

.Thankyou .Thankyou-img img {

    height: 519px;
    width: 557px;

}


/* start footer css */

/* footer .last-part {
    background-color: #555555;
}

footer .left p {
    color: rgb(255 255 255);
}

.last-part .middle h4 {
    color: #efbf07;
}

.last-part .middle a {
    color: rgb(255 255 255);
}

.last-part .right h4 {
    color: #efbf07;
}

.last-part .right a {
    color: rgb(255 255 255);
} */


/* Responsive For Tablet*/
@media (min-width:0px) and (max-width: 900px) {

    .container-form {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }

    form {
        max-width: 671px;
        border-radius: 10px;
        margin-top: 53px;
    }

    .container-form .Thankyou img {
        width: 660px;
        height: 615px;
    }

    footer .last-part {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
        padding: 15px 6%;
    }
}








/* Responsive For Phone*/

@media (min-width:0px) and (max-width: 716px) {

    .container-form .Thankyou img {
        width: 394px;
        height: 304px;
    }

    footer .left p {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .left .social-logo img {
        margin: 0px 8px 9px 0px;
        width: 28px;
    }

    .Thankyou .Thankyou-img img {
        height: 600px;
        width: 323px;
    }
}