header{
    background-color: rgb(255 255 255);
    border-bottom: 1px solid #6e6868;
}




header .branding h3 {
    color: black;
    
}
header nav .right-list a{
    color: black;
}
.Thankyou{
    margin-top: 0;
}
.Thankyou-img{
    position: relative;
}
.img2{
    position: relative;
    top: 5rem;
    left: -3rem;
}
.img3{
    position: relative;
    top: 10rem;
    left: -28rem;
}
.Thankyou .Thankyou-img img{

    height: 239px;
    width: 171px;
    
}

/* footer css start  */

footer .last-part{
    background-color: #ffffff;
    
}

footer .left h3{
    color: black;
}
footer .left p{
    color: rgb(59, 59, 59);
}
.last-part .middle h4{
    color: #000000;
}
.last-part .middle a{
    color: rgb(59, 59, 59);
}
.last-part .right h4{
    color: #000000;
}
.last-part .right a{
    color: rgb(59, 59, 59);
}

.Thankyou {
    margin-left: 32px;
    margin-top: -123px;
}

.contact-form{
    height: 463px;
}
