header{
    background-color: rgb(255 255 255);
    border-bottom: 1px solid #6e6868;
}




header .branding h3 {
    color: black;
    
}
header nav .right-list a{
    color: black;
}


/* footer css start  */

footer .last-part{
    background-color: #ffffff;
    
}

footer .left h3{
    color: black;
}
footer .left p{
    color: rgb(59, 59, 59);
}
.last-part .middle h4{
    color: #000000;
}
.last-part .middle a{
    color: rgb(59, 59, 59);
}
.last-part .right h4{
    color: #000000;
}
.last-part .right a{
    color: rgb(59, 59, 59);
}

.Thankyou{
    margin-top: 66px;
    margin-left: 32px;
}
.container-form .Thankyou img{
    width: 400px;
    height: 400px;
    
}
.contact-form{
    height: 463px;
}
