body{
    background-image: none;
}
header{
    background-color: white;
    border-bottom: 1px solid black;
}
header .branding h3{
    color: black;
}
.container .right-list a{
    color: black;
}

.Inox{
    padding: 2% 10%;
    
}
.Inox-content{
    text-align: center;
}
.Inox-content img{
    width: 200px;
    height: 200px; 
    line-height: 1rem;
    
}
h2{
    color: #48bbe7;
}
h3{
    font-size: 1rem;
    color: #48bbe7;
    font-size: 1.5rem;
}
.Inox-content h4{
    margin-top: 8px;
    font-weight: 100;
    line-height: 3.5rem;
}
.Inox-content p{
    color: #5e5a5a;
    line-height: 1.5rem;
}
.one-k{
    
    margin: 4% 0;

}


.one-k img{
    margin: 3% 3% 0 0;
}
